@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'variables';
@import 'reset';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $yellow;

 h1 {
   color: $green;
 }

 #hamburger {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100vw;

  #toggle {
   background-color: $green!important;


   #toggleText {
    color: white!important;
    }
  } 

  #hamburgerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    padding: 0;
    margin: 10px;

    &:focus{
      box-shadow: none;
    }

    svg {
      color: white;
      stroke-width: 1; 
      stroke: white;
    }
  }
}

}


@media screen and (min-width: 375px) {

  body {
    background-color: $yellow;

  }
 
}

 


